<ion-view view-title="Animal Encontrado">
<ion-nav-buttons side="right">
  <!-- <button class="button buttons button-clear header-item" ng-click="salvarEncontrado()">
    <span style="font-weight: 400">Salvar</span>
  </button> -->
</ion-nav-buttons>
  <ion-content>
  	<div data-ng-if="loading" class="loading">
      <img class="loading-img" src="img/loader-io.gif">
    </div>
    <div ng-show="analisandoimg" class="loading">
      <img class="loading-img" src="img/loader-io.gif">
    </div>
    <form ng-submit="salvarEncontrado()" novalidate>
      <div class="list">
    	<label class="item item-input item-light">
    		<ion-profile-picture ng-model="encontrado.foto" ng-change="trocarFoto()"/>
    	</label>
    	<label class="item item-input item-stacked-label">
          <span class="input-label">Nome</span>
          <input type="text" id="nome" ng-model="encontrado.nome" placeholder="Toby" required>
        </label>
   		<ion-toggle ng-model="encontrado.filhote_check">Filhote</ion-toggle>
   		<fancy-select
   			id="selectAnimal"
			header-text="Animal"
			allow-empty='false'
			value="animal.single"
			text=""
			items="listaAnimais">
		</fancy-select>
		<fancy-select
			header-text="Gênero"
			allow-empty='false'
			value="sexo.single"
			text=""
			items="listaSexo">
		</fancy-select>		
		<fancy-select
			header-text="Porte"
			allow-empty='false'
			value="porte.single"
			text=""
			items="listaPortes">
		</fancy-select>
		<fancy-select
			header-text="Cor"
			allow-empty='false'
			value="cor.single"
			text=""
			items="listaCores">
		</fancy-select>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-calm">Salvar</button>
      </div>
    </form>
  </ion-content>
</ion-view>
