<ion-view view-title="We Heart Pets">
  <ion-content>
    <div data-ng-if="loading" class="loading">
      <img class="loading-img" src="img/loader-io.gif">
    </div>
    <form ng-submit="salvarUsuario()" novalidate>
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Nome</span>
          <input type="text" id="nome" ng-model="usuario.nome" placeholder="João" ng-required="required">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">E-mail</span>
          <input type="text" id="email" ng-model="usuario.email" placeholder="joao@email.com" ng-changed="" ng-required="required">
        </label>
        <fancy-select
          header-text="Sexo"
          allow-empty='false'
          value="sexo.single"
          text=""
          items="lista_sexo">
        </fancy-select>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Senha</span>
          <input type="password" id="senha" ng-model="usuario.senha" placeholder="*****" ng-required="required">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Confirmar Senha</span>
          <input type="password" id="confirmar_senha" ng-model="senha.confirmar_senha" placeholder="*****" ng-required="required">
        </label>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-calm">CRIAR USUÁRIO</button>
      </div>
      </label>
      </div>
    </form>
  </ion-content>
</ion-view>
