<ion-view view-title="We Heart Pets">
  <ion-content class="padding grad">
    <div data-ng-if="loading" class="loading">
      <img class="loading-img" src="img/loader-io.gif">
    </div>
    <label class="item item-input">
      <input type="text" placeholder="E-mail" ng-model="login.username">
    </label>
    <label class="item item-input">
      <input type="password" placeholder="Password" ng-model="login.password">
    </label>
    <button class="button button-block button-calm" ng-click="doLogin(login)">Login</button>
    <a class="button button-block button-calm" href="#/criar-usuario">Cadastrar</a>
  </ion-content>
</ion-view>
