<ion-view view-title="Perfil">
  <ion-content>
    <div data-ng-if="loading" class="loading">
      <img class="loading-img" src="img/loader-io.gif">
    </div>
    <form ng-submit="salvarUsuario()" novalidate>
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Nome</span>
          <input type="text" id="nome" ng-model="usuario.nome" placeholder="João" ng-required="required">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Senha</span>
          <input type="password" id="senha" ng-model="usuario.senha" placeholder="*****" ng-required="required">
        </label>
      </div>
      </label>
      </div>
    </form>
    <div class="padding">
    	<button class="button button-block button-stable" ng-click="logout()">Logout</button>
    </div>
  </ion-content>
</ion-view>
