<ion-view view-title="Meus Animais">
  <ion-content>
    <div data-ng-if="loading" class="loading">
      <img class="loading-img" src="img/loader-io.gif">
    </div>
    <div class="padding">
      <a class="button button-block button-calm" href="#/tab/animal-encontrado">
        <span class="fa fa-paw"></span> Encontrei um animal
      </a>
    </div>
    <div class="item item-divider">
      Disponíveis para adoção
    </div>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="animal in listaAnimaisDisponiveis" type="item-text-wrap" href="#/tab/meus-animais/{{animal.i_encontrado}}">
        <img ng-src="data:image/*;base64,{{animal.foto}}" ng-if="animal.foto">
        <img ng-src="img/{{animal.i_animal}}-sem-foto.png" ng-if="!animal.foto">
        <h2>{{animal.nome}}</h2>
        <p>{{animal.animal}} - {{animal.sexo}} {{animal.porte}} {{animal.cor}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

    <div class="item item-divider">
      Animais adotados
    </div>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="animal in listaAnimaisAdotados" type="item-text-wrap" href="#/tab/meus-animais/{{animal.i_encontrado}}">
        <img ng-src="data:image/*;base64,{{animal.foto}}" ng-if="animal.foto">
        <img ng-src="img/{{animal.i_animal}}-sem-foto.png" ng-if="!animal.foto">
        <h2>{{animal.nome}}</h2>
        <p>{{animal.animal}} - {{animal.sexo}} {{animal.porte}} {{animal.cor}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
