<ion-view view-title="Disponíveis">
  <ion-content>
  	<div data-ng-if="loading" class="loading">
      <img class="loading-img" src="img/loader-io.gif">
    </div>
    <div class="list card">
	  	<div class="item">
	  		<div style="float: left;">
		    	<h2>{{listaAnimais[index_lista].nome}}</h2>
		    	<p>{{listaAnimais[index_lista].animal}} - {{listaAnimais[index_lista].sexo}} {{listaAnimais[index_lista].porte}} {{listaAnimais[index_lista].cor}}</p>
	  		</div>
	  		<div style="float: right;">
	  			<button class="button button-icon icon ion-ios-heart-outline icon-right" ng-if="listaAnimais[index_lista].liked=='N'" ng-click="like(listaAnimais[index_lista].i_encontrado)">{{listaAnimais[index_lista].qtd_likes}}</button>
	    		<button class="button button-icon icon ion-ios-heart icon-right" ng-if="listaAnimais[index_lista].liked=='S'" ng-click="dislike(listaAnimais[index_lista].i_encontrado)">{{listaAnimais[index_lista].qtd_likes}}</button>
	    	</div>
	  	</div>

	  	<div class="item item-image">
	    	<img ng-src="data:image/*;base64,{{listaAnimais[index_lista].foto}}">
		  	<img ng-src="img/{{listaAnimais[index_lista].i_animal}}-sem-foto.png" ng-if="!listaAnimais[index_lista].foto">
	  	</div>

	  	<div class="item item-divider">
			Disponibilizado por
		</div>
		<div class="item">
	  		<h2>{{listaAnimais[index_lista].usuario_encontrou_nome}}</h2>
	  		<p>{{listaAnimais[index_lista].usuario_encontrou_email}}</p>
	  	</div>

	  	<div class="item">
			<div class="button-bar">
			  <button class="button button-icon icon ion-arrow-left-c round-button" ng-click="anterior()"></button>
			  <button class="button button-icon icon fa fa-paw" ng-click="adotar(listaAnimais[index_lista].i_encontrado)"><br>Adotar</button>
			  <button class="button button-icon icon ion-arrow-right-c round-button" ng-click="proximo()"></button>
			</div>
	  	</div>

  		<div class="list">
			<div class="item item-divider">
				Comentários
			</div>

			<div class="item" ng-show="listaComentarios.length==0">
				<h2>Não há comentários</h2>
			</div>

			<div class="item" ng-repeat="comentario in listaComentarios">
				<h2>{{comentario.nome}}</h2>
				<h5>{{comentario.data_sistema}}</h5>
				<p>{{comentario.comentario}}</p>
			</div>

			<div class="item item-input-inset">
				<label class="item-input-wrapper">
					<input type="text" placeholder="Comentar..." ng-model="coment.comentario">
				</label>
				<button class="button button-small icon ion-chatbubble" ng-click="comentar(listaAnimais[index_lista].i_encontrado)"></button>
			</div>
		</div>
	</div>
  </ion-content>
</ion-view>
