<ion-view view-title="Detalhes">
  <ion-content class="padding">
    <div data-ng-if="loading" class="loading">
      <img class="loading-img" src="img/loader-io.gif">
    </div>
    <ion-card>
      <ion-item>
        <h2>{{animal.nome}}</h2>
        <p>{{animal.animal}} - {{animal.sexo}} {{animal.porte}} {{animal.cor}}</p>
        
        <img style="width: 100%; height: auto;" ng-src="data:image/*;base64,{{animal.foto}}" ng-if="animal.foto">
        <img style="width: 100%; height: auto;" ng-src="img/{{animal.i_animal}}-sem-foto.png" ng-if="!animal.foto">
        
        <p ng-show="animal.status=='E'">
          <button class="button button-full button-calm" ng-click="fuiAdotado()">
            <span class="fa fa-gift"></span> Fui adotado
          </button>
        </p>
      </ion-item>
      <div class="list">
          <div class="item item-divider">
            Comentários
          </div>

          <div class="item" ng-show="listaComentarios.length==0">
            <h2>Não há comentários</h2>
          </div>

          <div class="item" ng-repeat="comentario in listaComentarios">
            <h2>{{comentario.nome}}</h2>
            <h5>{{comentario.data_sistema}}</h5>
            <p>{{comentario.comentario}}</p>
          </div>

          <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <input type="text" placeholder="Comentar..." ng-model="coment.comentario">
            </label>
            <button class="button button-small icon ion-chatbubble" ng-click="comentar()"></button>
          </div>
        </div>
    </ion-card>
  </ion-content>
</ion-view>
