<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Meus animais" icon-off="fa fa-paw" icon-on="fa fa-paw" href="#/tab/meus-animais">
    <ion-nav-view name="tab-meus-animais"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Adotar" icon-off="fa fa-gift" icon-on="fa fa-gift" href="#/tab/disponiveis">
    <ion-nav-view name="tab-disponiveis"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Sair" icon-off="ion-log-out" icon-on="ion-log-out" ng-click="logout()">
    
  </ion-tab>
  <!-- <ion-tab title="Perfil" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/perfil">
    <ion-nav-view name="tab-perfil"></ion-nav-view>
  </ion-tab> -->


</ion-tabs>
