<ion-view class="fancy-select-items modal">
  <ion-header-bar>
    <button ng-click="hideItems()" class="button button-icon"><span class="ion-chevron-left"></span></button>
    <h1 class="title">{{headerText}}</h1>
    <button ng-click="validate()" class="button button-icon ion-checkmark" ng-if="multiSelect"></button>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <!-- Single select -->
      <label
             ng-repeat="item in items"
             ng-if="!multiSelect"
             class="item item-text-wrap"
             ng-click='validateSingle(item)'>
        <!-- <div class="fancy-select-icon" ng-if="item.icon != null">
          <i class="icon-{{item.text}}" style="background-image: url({{item.icon}})"></i>
        </div> -->
        {{item.texto}}
      </label>
    </div>
  </ion-content>
</ion-view>