<ion-list>
  <ion-item class="item-text-wrap" ng-click="showItems($event)">
    {{headerText}}
    <div style="float: right;">
    	{{text}}{{textrec}}
    	<span style="margin-left: 10px;" class="ion-chevron-right"></span>
    </div>
    <!-- <span class="item-note">
      {{noteText}}
      <img class="{{noteImgClass}}" ng-if="noteImg != ''" src="{{noteImg}}" />
    </span> -->
  </ion-item>
</ion-list>