/* Empty. Add your own CSS if you like */
.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    background: rgba(245, 245, 245, 0.62);
}

.loading-img {
    position: absolute;
    top: 45%;
    left: 45%;
}

.grad {
    background: #e4f5ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #e4f5ff, #fff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #e4f5ff, #fff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
